
body {
font-family: 'Lato', sans-serif;
}
.header {
	text-align: center;
}
.header-background {
	position: absolute;
}
.working {
color: #ffffff;
font-family: Lato;
font-size: 54px;
font-weight: 700;
text-transform: uppercase;
text-align:center;
letter-spacing: 8.62px;
position: relative;
top: 449px;
}