* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
}
p {
    text-align: center;
    line-height: 29px;
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 573px;
    font-weight: 300;
}

section {
	position: relative; 
}
 section > .container {
    padding-top: 100px;
	padding-bottom: 150px; 
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px; 
 }

header {
	text-align: center;
	height: 100vh;
	width: 100vw;

}

.header-logo {
	width: 65px;
	height: 69px;
	position: relative;
	top: 120px;
}
.header-background {
	position: absolute;
	height: 100vh;
	width: 100vw;
	
}
.header-text {
	width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
}
.working {
	color: #ffffff;
	font-family: Lato;
	font-size: 54px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.62px;
}
.introduction {
	max-width: 573px;
	height: 70px;
	color: #ffffff;
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;
	margin: 15px auto;

}
.scroller {
	position: absolute;
	bottom: 30px;
	left: 49%;
}

.scroller img:hover {
	-webkit-transform: scale(1.2, 1.2);
	    -ms-transform: scale(1.2, 1.2);
	        transform: scale(1.2, 1.2); 
	-webkit-transition: 0.4s ease-in-out; 
	-o-transition: 0.4s ease-in-out; 
	transition: 0.4s ease-in-out;
}

#about-us p {
	max-height: 183px;
	color: #3c3c3c;
	font-family: Lato;
	font-size: 16px;
	font-weight: 300;
}

.bordered {
	position: relative;
	border-top: none;
	border-left: 2px solid #3c3c3c;
	border-right: 2px solid #3c3c3c;
	border-bottom: 2px solid #3c3c3c;	
}
.bordered h2 {
	width: 60%;
    position: relative;
    top: -38px;
	color: #3c3c3c;
	font-family: Lato;
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	margin-bottom: 15px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	text-align: center;
}
.bordered::before {
	left: 0;
}
.bordered::after {
    right: 0;
}
.bordered::before, .bordered::after {
	content: " ";
	width: 20%;
	position: absolute;
	top: 0;
	border-top: 2px solid #3c3c3c;
}
.bordered.border-white {
	border-color: #fff;
}
.bordered.border-white h2 {
	color: #fff;
}
.bordered.border-white::before, .bordered.border-white::after {
	border-color: #fff; 
}

#services {
	background-image: url("/images/layer-4.png");
	background-size: cover;
    background-position: right center;
    height: calc(100vw / 4);
    min-height: 400px;
	background-attachment: fixed;
}

#services p, h2 {
	position:relative;
	color: #fff;
}
.work {
	width: 100%;
    max-width: 700px;
    margin: 0 auto;
	padding: 50px 20px;
	text-align: center;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.buttons-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 6px; 
}
.buttons-container .service {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	height: 235px;
	background-size: cover;
	background-position: center;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	position: relative; 
}
.buttons-container .service:hover {
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2; 
}
.buttons-container .service h4 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 0 10px 20px;
	letter-spacing: 3px;
	font-size: 34px;
	position: absolute;
	bottom: 0;
	left: 0; 
}
.buttons-container .service-1 {
	background-image: url("/images/1.png"); 
}
.buttons-container .service-2 {
	  background-image: url("/images/2.png");
	  margin: 0 6px; 
}
.buttons-container .service-3 {
	  background-image: url("/images/3.png");
}
.buttons-container .service-4 {
	  background-image: url("/images/4.png"); 
}
.buttons-container .service-5 {
	  background-image: url("/images/5.png");
	  margin: 0 6px; 
}
.buttons-container .service-6 {
	  background-image: url("/images/6.png"); 
}

#contact-us, .container-fluid {
	padding-bottom: 80px;
}

.contact-button {
	display: block;
	margin: 30px auto 0 auto;
	width: 80%;
	max-width: 400px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 50px;
	border: none;
	background-color: #3c3c3c;
	color: #fff;
	text-align: center;
	-webkit-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out; 
	margin-bottom: 60px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	top: 180px;
	
}
.contact-button:hover {
	background-color:#A9B4C8;
	color:black;
	text-decoration: none;
	border: 2px solid black;
	font-weight: 500;
	-webkit-transform: scale(1.1, 1.1);
	    -ms-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1); 
}
#contact-us > .container {
	padding-bottom: 50px;
}
#contact-us p {
	padding-bottom: 100px;
}
#footer > .container {
    font-size: 14px;
    padding: 30px 20px 70px 20px;
	text-align: center;
	padding-bottom: 40px;
}
#footer .container  img {
	margin-right: 20px;
}