* {
  box-sizing: border-box; }

.row {
  display: flex;
  align-items: center; }

header [class*="col-"] {
  padding-top: 0;
  height: 50%; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  position: relative; }

.row:before, .row:after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0; }

.col-1 {
  width: 8.334%; }

.col-2 {
  width: 16.667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.334%; }

.col-5 {
  width: 41.667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.334%; }

.col-8 {
  width: 66.667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.334%; }

.col-11 {
  width: 91.667%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.334%; }

.col-offset-2 {
  margin-left: 16.667%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.334%; }

.col-offset-5 {
  margin-left: 41.667%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.334%; }

.col-offset-8 {
  margin-left: 66.667%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.334%; }

.col-offset-11 {
  margin-left: 91.667%; }

.col-offset-12 {
  margin-left: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: #fff; }

header {
  background-image: url("/images/3-layers.png");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed; }
  header header [class*="col-"] {
    padding-top: 0;
    height: 50%; }
  header .container .row:first-child {
    height: 48vh; }
  header h1 {
    font-size: 60px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0; }
  header p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px; }
  header .iphone {
    position: absolute;
    bottom: -23vh;
    height: 90vh;
    right: 12vw; }
  header .takpapp-container {
    position: absolute;
    top: 47%;
    left: -50px;
    transform: rotate(-90deg); }
  header p {
    margin-right: 20px;
    display: inline-block; }
  header .perfect {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.3px; }
  header .takpapp {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3px; }

#text {
  margin: 100 0; }
  #text h2 {
    font-size: 35px;
    font-weight: 300;
    line-height: 24px;
    color: #222626; }
  #text p {
    color: #959595;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 30px; }

#gallery [class*="col-"] {
  height: 250px;
  position: relative;
  padding: 30px 30px 0 30px; }
#gallery h4 {
  font-size: 30px;
  font-weight: 300;
  margin: 0; }
#gallery p {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px; }
#gallery a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  bottom: -85px;
  display: inline-block; }
#gallery .fa {
  margin-left: 15px;
  margin-bottom: 100px; }
#gallery .ship {
  margin-top: 70px; }
#gallery .heart {
  margin-left: 400px; }
#gallery .gallery-1 {
  background-color: #f5989d; }
#gallery .gallery-2 {
  background-color: #615f7d; }
#gallery .gallery-3 {
  background-image: url("https://images.pexels.com/photos/106400/pexels-photo-106400.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-position: bottom; }
#gallery .gallery-4 {
  background-color: #bd8cbf; }
#gallery .gallery-5 {
  background-image: url("https://images.pexels.com/photos/910154/pexels-photo-910154.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-position: center; }
#gallery .gallery-6 {
  background-color: #82ca9c; }
#gallery .gallery-7 {
  background-image: url("https://images.unsplash.com/photo-1495313378299-84a779ccc4b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3eb5d138771abd1b4831b35e87c57ba5&auto=format&fit=crop&w=1050&q=80");
  background-size: cover; }

#details {
  margin-top: 70px;
  margin-bottom: 100px; }
  #details h2 {
    font-size: 35px;
    font-weight: 300;
    line-height: 24px;
    color: #222626; }
  #details h5 {
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #67676d; }
  #details p {
    color: #959595;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 30px; }
  #details .takpapp-container {
    position: absolute;
    top: 10%;
    left: -115px;
    transform: rotate(-90deg); }
  #details p {
    margin-right: 20px;
    display: inline-block; }
  #details .takpapp {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px; }

#options {
  background-image: url("/images/2-layers.png");
  background-size: cover;
  min-height: 90vh;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: flex-end; }
  #options h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 300; }
  #options p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px; }
  #options [class*="col-"] {
    height: 70vh; }

#onboard {
  background-color: #82ca9c;
  padding: 50px 0; }
  #onboard h2 {
    font-size: 35px;
    font-weight: 300;
    line-height: 24px; }
  #onboard h5 {
    font-weight: 600;
    font-size: 13px;
    line-height: 24px; }
  #onboard p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 30px; }
  #onboard .takpapp-container {
    position: absolute;
    top: 10%;
    left: -115px;
    transform: rotate(-90deg); }
  #onboard p {
    margin-right: 20px;
    display: inline-block; }
  #onboard .takpapp {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px; }

#shop {
  background-color: #f6f7fa;
  display: flex;
  padding: 100px 0;
  align-items: center; }
  #shop .col-6 {
    padding: 30px; }
    #shop .col-6:hover {
      background-color: #fff; }
      #shop .col-6:hover .top-button {
        background-color: #bd8cbf; }
    #shop .col-6 h2 {
      font-size: 35px;
      font-weight: 300;
      line-height: 24px;
      color: #222626; }
    #shop .col-6 p {
      color: #959595;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-right: 30px; }
    #shop .col-6 .top-button {
      height: 24px;
      border-radius: 5px;
      background-color: #e1e1e1;
      color: #fff;
      transition: 0.5s;
      border: none;
      font-size: 11px;
      font-weight: 600;
      line-height: 22px;
      padding: 0 15px; }
    #shop .col-6 .buy {
      border-radius: 3px;
      background-color: #82ca9c;
      font-size: 13px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      padding: 15px 25px;
      color: #fff;
      border: none;
      transition: 0.5s; }
    #shop .col-6 .icons {
      margin-top: 20px; }
      #shop .col-6 .icons .fa {
        color: #c5c5c5;
        font-size: 26px;
        margin-right: 10px; }
  #shop .takpapp-container {
    position: absolute;
    top: 10%;
    left: -115px;
    transform: rotate(-90deg); }
  #shop p {
    margin-right: 20px;
    display: inline-block;
    color: black; }
  #shop .takpapp {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px; }

footer {
  background-color: #192431; }
  footer .row {
    display: flex;
    align-items: flex-start; }
  footer [class*="col-"] {
    padding: 20px; }
  footer input {
    width: 80%;
    height: 55px;
    border: none;
    border-radius: 3px 0 0 3px;
    margin: 0;
    padding: 0; }
  footer .check {
    background-color: #82ca9c;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 55px;
    height: 55px;
    border: none;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: 0.5s; }
    footer .check:hover {
      background-color: #bd8cbf; }
  footer p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px; }
  footer h5 {
    font-weight: 600;
    font-size: 13px;
    line-height: 24px; }

/*# sourceMappingURL=style.css.map */
